@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

.list__item{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
}
.user__name{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Manrope';
    margin-bottom: 0.625rem;
}
.user p{
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 400;
}
.user__info{
    background: #21242D;
    padding: 2rem;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.block{
    width: 600px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Manrope';
    font-weight: 400;
    padding: 2rem;
}
.link:hover{
    text-decoration: underline;
}