.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
input {
    padding: 8px 1rem;
    outline: none;
    border: 1px solid white;
    margin-bottom: 1rem;
}


.comments{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}